/*========= aboutだけで使うcss =========*/
.main {
  padding-top: 4%;
  width: 90%;
  margin-left: auto;
}

.box {
  padding: 4% 1%;
  border-top: solid 1px #EBEBEB;
}

.box:last-child {
  border-bottom: solid 1px #EBEBEB;
}

.headline {
  color: #A4907C;
  letter-spacing: 0.1em;
  font-size: 26px;
  font-weight: bold;
}

.area {
  padding: 3% 1% 0 1%;
}

.detail {
  padding-top: 1%;
}


/*========= レスポンシブデザイン =========*/
/*　画面サイズが480pxからはここを読み込む　*/
@media screen and (max-width:480px) {
  .main {
      padding-top: 10%;
      width: 95%;
  }

  .box {
      padding: 10% 3%;
  }

  .headline {
      letter-spacing: 0.1em;
      font-size: 16px;
  }

  .area {
      padding: 5% 2% 0 2%;
  }

  .detail {
      padding-top: 2%;
  }
}


/*========= アニメーション用 =========*/
.randomAnime {
  visibility: hidden;
}